## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [2]:
import pandas as pd

/var/folders/3z/p00tk30s051clx8_37v_ph2w0000gn/T/ipykernel_3522/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3]:
counts = data["sex"].value_counts()
counts

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [12]:
avg_male_age = data.loc[data["sex"] == "Male", "age"].mean()
round(avg_male_age, 2)

39.43

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [ ]:
usa_citizens = data.loc[data["native-country"] == "United-States", "native-country"].count()
usa_citizens

95

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [26]:

high_income = data[data['salary'] == '>50K']['age']
print("Зарплата >50K:")
print(f'Средний возраст: {round(high_income.mean(), 2)}')
print(f'Среднеквадратичное отклонение: {round(high_income.std(), 2)}')

low_income = data[data['salary'] == '<=50K']['age']
print("Зарплата <=50K:")
print(f'Средний возраст: {round(low_income.mean(), 2)}')
print(f'Среднеквадратичное отклонение: {round(low_income.std(), 2)}')

Зарплата >50K:
Средний возраст: 44.25
Среднеквадратичное отклонение: 10.52
Зарплата <=50K:
Средний возраст: 36.78
Среднеквадратичное отклонение: 14.02

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [ ]:
high_income = data[data['salary'] == '>50K']
unique_edu = high_income['education'].unique()
print(f'No, there are people without any higher education: {", ".join(unique_edu)}')

education_counted = high_income['education'].value_counts()
print(f"We can also count, how many people of high income have each type of education:\n{education_counted}")

No, there are people without any higher education: HS-grad, Masters, Bachelors, Some-college, Assoc-voc, Doctorate, Prof-school, Assoc-acdm, 7th-8th, 12th, 10th, 11th, 9th, 5th-6th, 1st-4th
We can also count, how many people have each type of education:
education
Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: count, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [ ]:
race = data.groupby(["race", "sex"])["age"].describe()
print(f"This is the full statistics\n{race}")

max_age = data[(data['race'] == 'Asian-Pac-Islander') & (data['sex'] == 'Male')]['age'].max()

print(f"Here is the max age of Asian-Pac-Islander male: {max_age}")

This is the full statistics
                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
Here is the max age of Asian-Pac-Islander males: 90

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [ ]:
men = data[data['sex'] == 'Male']
status= men['marital-status'].str.startswith('Married')
is_married = men[status]
is_single = men[~status]

married_over_50K = is_married[is_married['salary'] == '>50K'].shape[0]


unmarried_over_50K = is_single[is_single['salary'] == '>50K'].shape[0]

married_share = (married_over_50K / len(is_married)) * 100
single_share = (unmarried_over_50K / len(is_single)) * 100

print(f"Доля женатых: {married_share:.2f}")
print(f"Доля холостых: {single_share:.2f}")

----------
Доля женатых: 44.05
Доля холостых: 8.45

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [6]:
max_hours = data["hours-per-week"].max()
print(f'max_hours pr week: {max_hours}')

workaholics = data[data["hours-per-week"] == max_hours]
count = workaholics.shape[0]
print(f"The number of emploees working {max_hours} hours is {count} people.")

rich_percentage = (workaholics['salary'] == '>50K').mean() * 100
print(f'The percentage of rich workaholics is {rich_percentage:.2f} %')

max_hours pr week: 99
The number of emploees working 99 hours is 85 people.
The percentage of rich workaholics is 29.41 %

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [ ]:
high_income = data[data['salary'] == '>50K']
low_income = data[data['salary'] == '<=50K']

rich_hours_by_country = high_income.groupby('native-country')['hours-per-week'].mean()
poor_hourse_by_country = low_income.groupby('native-country')['hours-per-week'].mean()

print(f'The mean working hours value for rich employees is {round(rich_hours_by_country,2)}')
print(f'And for poor - {round(poor_hourse_by_country, 2)}')

The mean working hours value for rich employees is native-country
?                     45.55
Cambodia              40.00
Canada                45.64
China                 38.90
Columbia              50.00
Cuba                  42.44
Dominican-Republic    47.00
Ecuador               48.75
El-Salvador           45.00
England               44.53
France                50.75
Germany               44.98
Greece                50.62
Guatemala             36.67
Haiti                 42.75
Honduras              60.00
Hong                  45.00
Hungary               50.00
India                 46.48
Iran                  47.50
Ireland               48.00
Italy                 45.40
Jamaica               41.10
Japan                 47.96
Laos                  40.00
Mexico                46.58
Nicaragua             37.50
Peru                  40.00
Philippines           43.03
Poland                39.00
Portugal              41.50
Puerto-Rico           39.42
Scotland              46.67
South                 51.44
Taiwan                46.80
Thailand              58.33
Trinadad&Tobago       40.00
United-States         45.51
Vietnam               39.20
Yugoslavia            49.50
Name: hours-per-week, dtype: float64
And for poor - native-country
?                             40.16
Cambodia                      41.42
Canada                        37.91
China                         37.38
Columbia                      38.68
Cuba                          37.99
Dominican-Republic            42.34
Ecuador                       38.04
El-Salvador                   36.03
England                       40.48
France                        41.06
Germany                       39.14
Greece                        41.81
Guatemala                     39.36
Haiti                         36.33
Holand-Netherlands            40.00
Honduras                      34.33
Hong                          39.14
Hungary                       31.30
India                         38.23
Iran                          41.44
Ireland                       40.95
Italy                         39.62
Jamaica                       38.24
Japan                         41.00
Laos                          40.38
Mexico                        40.00
Nicaragua                     36.09
Outlying-US(Guam-USVI-etc)    41.86
Peru                          35.07
Philippines                   38.07
Poland                        38.17
Portugal                      41.94
Puerto-Rico                   38.47
Scotland                      39.44
South                         40.16
Taiwan                        33.77
Thailand                      42.87
Trinadad&Tobago               37.06
United-States                 38.80
Vietnam                       37.19
Yugoslavia                    41.60
Name: hours-per-week, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [5]:
def get_age_group(age):
    if 16 <= age <= 35:
        return 'young'
    elif 35 < age <= 70:
        return 'adult'
    elif 70 < age <= 100:
        return 'retiree'
    else:
        return 'unknown'

data['AgeGroup'] = data['age'].apply(get_age_group)

print(data[['age', 'AgeGroup']].head(10))

   age AgeGroup
0   39    adult
1   50    adult
2   38    adult
3   53    adult
4   28    young
5   37    adult
6   49    adult
7   52    adult
8   31    young
9   42    adult

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [ ]:
data['is_rich'] = (data['salary'] == '>50K').astype(int)

stats = data.groupby('AgeGroup')['is_rich'].agg(['sum', 'mean'])

stats.columns = ['Количество >50K', 'Доля >50K']

print(stats)

most_frequent_group = stats['Доля >50K'].idxmax()
max_rate = stats['Доля >50K'].max()

print(f"\nЧаще всего зарабатывают больше 50K в группе: {most_frequent_group}")
print(f"Доля богатых в этой группе составляет: {max_rate:.1%}")

--- Статистика по группам ---
          Количество >50K  Доля >50K
AgeGroup
adult                6042   0.353416
retiree                94   0.174074
young                1705   0.114238

Чаще всего зарабатывают больше 50K в группе: adult
Доля богатых в этой группе составляет: 35.3%

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [4]:
occupation_counts = data['occupation'].value_counts()
occupation_counts

def filter_func(group):

    mean_age_check = group['age'].mean() <= 40

    hours_check = (group['hours-per-week'] > 5).all()
    
    return mean_age_check and hours_check

filtered_data = data.groupby('occupation').filter(filter_func)

print("\nThe professions that passed the filter:")
unique_occupations = filtered_data['occupation'].unique()
print(unique_occupations)

if len(unique_occupations) == 0:
    print("There is no group satisfying both conditions.")

The professions that passed the filter:
['Armed-Forces']